{% if not tag_not_supported %}
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    {{ user_repr }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" title="Просмотр своего профиля">Профиль</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'efsw.common.accounts:logout' %}" title="Выйти из системы">Выход</a>
                    </li>
                </ul>
            </li>
        {% else %}
            <li><a href="{% url 'efsw.common.accounts:login' %}" title="Войти в систему">Вход</a></li>
        {% endif %}
    </ul>
{% endif %}