{% extends 'conversion/_app_base.html' %}

{% block title %}{{ block.super }} - Создание задания{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['jquery', 'knockout', 'conversion/model_task_new'], function($, ko, model) {
            $(document).ready(function() {
                var view_model = new model({
                    'profile_show_json': "{% url 'efsw.conversion:profile:show_json' %}",
                    'task_create_json': "{% url 'efsw.conversion:task:create_json' %}"
                });
                ko.components.register('io_form', {
                    'template': { 'element': 'template_io_form' }
                });
                ko.applyBindings(view_model);
            });
        });
    </script>
    <script type="text/html" id="template_io_form">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span data-bind="text: ( io_type == 'i' ? 'Вход' : 'Выход' )"></span>
                <span data-bind="text: position"></span>
                <span data-bind="if: comment">(<span data-bind="text: comment"></span>)</span>
            </div>
            <div class="panel-body" data-bind="replace_prefix: position">
                <div class="row">
                    <div class="form-group col-md-4" data-bind="css: { 'has-error': errors().storage }">
                        <!-- ko if: io_type == 'i' -->
                            <label for="{{ input_formset.empty_form.storage.id_for_label }}">Хранилище</label>
                            <div>
                                {{ input_formset.empty_form.storage }}
                            </div>
                        <!-- /ko -->
                        <!-- ko if: io_type == 'o' -->
                            <label for="{{ output_formset.empty_form.storage.id_for_label }}">Хранилище</label>
                            <div>
                                {{ output_formset.empty_form.storage }}
                            </div>
                        <!-- /ko -->
                        <span class="help-block"
                              data-bind="visible: errors().storage, text: errors().storage"
                              style="display: none;"></span>
                    </div>
                    <div class="form-group col-md-8" data-bind="css: { 'has-error': errors().path }">
                        <!-- ko if: io_type == 'i' -->
                            <label for="{{ input_formset.empty_form.path.id_for_label }}">Путь</label>
                        <!-- /ko -->
                        <!-- ko if: io_type == 'o' -->
                            <label for="{{ output_formset.empty_form.path.id_for_label }}">Путь</label>
                        <!-- /ko -->
                        <div>
                            <div class="input-group">
                                <span class="input-group-addon">/</span>
                                <!-- ko if: io_type == 'i' -->
                                    {{ input_formset.empty_form.path }}
                                <!-- /ko -->
                                <!-- ko if: io_type == 'o' -->
                                    {{ output_formset.empty_form.path }}
                                <!-- /ko -->
                            </div>
                            <span class="help-block"
                                  data-bind="visible: allowed_ext.length, text: allowed_ext.join(', ')"></span>
                            <span class="help-block"
                                  data-bind="visible: errors().path, text: errors().path"
                                  style="display: none;"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block content %}
    <h2>Создание задания</h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="task_new_form">
                <div class="form-group" data-bind="css: { 'has-error': errors().name }">
                    <label for="{{ form.name.id_for_label }}">Название</label>
                    <div>
                        {{ form.name }}
                        <span class="help-block"
                              data-bind="visible: errors().name, text: errors().name"
                              style="display: none;"></span>
                    </div>
                </div>
                <div class="form-group" data-bind="css: { 'has-error': errors().profile }">
                    <label for="{{ form.profile.id_for_label }}">Профиль</label>
                    <div>
                        {{ form.profile }}
                        <span class="help-block"
                              data-bind="visible: profile_description, text: profile_description"
                              style="display: none;"></span>
                        <span class="help-block"
                              data-bind="visible: errors().profile, text: errors().profile"
                              style="display: none;"></span>
                    </div>
                </div>
                <h4 data-bind="visible: inputs().length > 0" style="display: none;">Входы</h4>
                <div id="inputs_container"
                     data-bind="foreach: inputs">
                    <div data-bind="component: { name: 'io_form', params: $data }"></div>
                </div>
                <div id="inputs_management_form_container" style="display: none;">
                    {{ input_formset.management_form }}
                </div>
                <h4 data-bind="visible: outputs().length > 0" style="display: none;">Выходы</h4>
                <div id="outputs_container"
                     data-bind="foreach: outputs">
                    <div data-bind="component: { name: 'io_form', params: $data }"></div>
                </div>
                <div id="outputs_management_form_container" style="display: none;">
                    {{ output_formset.management_form }}
                </div>
            </form>
            <div class="alert alert-danger"
                 data-bind="visible: error_msg(), text: error_msg()"
                 style="display: none;"></div>
        </div>
        <div class="panel-footer text-center">
            <button type="button"
                    class="btn btn-primary"
                    data-bind="event: { click: submit_form }">Создать</button>
        </div>
    </div>
{% endblock %}
