{% extends '_base.html' %}

{% block title %}{{ block.super }} - Планирование вещания{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['schedule/base'], function(module) {
            module({
                urls: {
                    lineup_new_part_modal: function() {
                        return '{% url 'efsw.schedule:lineup:new_part_modal' %}';
                    },
                    lineup_create: function() {
                        return '{% url 'efsw.schedule:lineup:create_json' %}';
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content_wrapper %}
    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                Сетка вещания <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a href="{% url 'efsw.schedule:lineup:show_current' %}" title="Текущая сетка вещания">Текущая</a>
                </li>
                <li role="presentation">
                    <a href="{% url 'efsw.schedule:lineup:list' %}" title="Список сеток вещания">Список</a>
                </li>
                {% if perms.schedule.add_lineup %}
                    <li role="presentation">
                        <a href="#" title="Создать сетку вещания" id="lineup_new_modal_switch">Создать</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                Программы <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a href="{% url 'efsw.schedule:program:list' %}" title="Список программ">Список</a>
                </li>
                {% if perms.schedule.add_program %}
                    <li role="presentation">
                        <a href="{% url 'efsw.schedule:program:new' %}" title="Добавить программу">Добавить</a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </ul>
    {% block content %}{% endblock %}
{% endblock %}