<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span class="fa fa-close"></span></button>
            <h3 class="text-center">
                <span data-bind="visible: lineup_loaded() == true">Копирование сетки вещания</span>
                <span data-bind="visible: lineup_loaded() == false">Загрузка...</span>
            </h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">

        </div>
    </div>
</div>