{% if lineups %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th style="min-width: 10em;">Канал</th>
                <th style="width: 100%">Название</th>
                <th>Исп.</th>
                <th class="text-nowrap">Исп. с</th>
                <th class="text-nowrap">Исп. до</th>
                <th class="text-nowrap">Нач. дня</th>
                <th class="text-nowrap">Кон. дня</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for l in lineups %}
                <tr data-id="{{ l.id }}">
                    <td>{{ l.id }}</td>
                    <td>{{ l.channel.name }}</td>
                    <td><a href="{{ l.get_absolute_url }}" title="Просмотр сетки вещания">{{ l.name }}</a></td>
                    <td>{% if l.draft %}-{% else %}<span class="fa fa-lg fa-check"></span>{% endif %}</td>
                    <td class="text-nowrap">{% if l.active_since %}{{ l.active_since|date:"SHORT_DATE_FORMAT" }}{% else %}-{% endif %}</td>
                    <td class="text-nowrap">{% if l.active_until %}{{ l.active_until|date:"SHORT_DATE_FORMAT" }}{% else %}-{% endif %}</td>
                    <td class="text-nowrap">{{ l.start_time|date:"H:i" }}</td>
                    <td class="text-nowrap">{{ l.end_time|date:"H:i" }}</td>
                    <td class="icon_actions_container text-nowrap">
                        {% if perms.schedule.change_lineup %}
                            {% if l.is_editable %}
                                <a href="{% url 'efsw.schedule:lineup:edit' l.id %}" title="Редактирование сетки вещания" class="fa fa-lg fa-edit"></a>
                            {% endif %}
                            <a href="#" title="Скопировать сетку вещания" class="fa fa-lg fa-copy act_copy"></a>
                            {% if l.draft %}
                                <a href="#" title="Активировать" class="fa fa-lg fa-check-square-o act_activate"></a>
                            {% endif %}
                            {% if l.is_returnable_to_draft %}
                                <a href="#" title="Вернуть статус черновика" class="fa fa-lg fa-times act_make_draft"></a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="panel panel-warning" style="margin-top: 0.5em;">
        <div class="panel-body text-center">Сетки вещания не найдены</div>
    </div>
{% endif %}