<table id="lineup_table" class="table table-bordered">
    <thead>
        <tr>
            <td>&nbsp;</td>
            <th>ПН</th>
            <th>ВТ</th>
            <th>СР</th>
            <th>ЧТ</th>
            <th>ПТ</th>
            <th>СБ</th>
            <th>ВС</th>
        </tr>
        <tr style="background: aliceblue;">
            <th>{{ lineup_table_data.lineup_start_time|time:'H:i:s' }}</th>
            <th colspan="7" class="text-center">Начало эфирных суток</th>
        </tr>
    </thead>
    <tbody>
        {% include 'schedule/_pp_list_table_body.html' %}
    </tbody>
    <tfoot>
        <tr style="background: aliceblue;">
            <th>{{ lineup_table_data.lineup_end_time|time:'H:i:s' }}</th>
            <th colspan="7" class="text-center">Окончание эфирных суток</th>
        </tr>
    </tfoot>
</table>