{% extends 'schedule/_app_base.html' %}

{% block title %}{{ block.super }} - {{ channel.name }} - Редактирование{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['jquery', 'knockout', 'common/generic_form_model'], function($, ko, model) {
            $(document).ready(function() {
                ko.applyBindings(new model(
                    '#channel_update_form',
                    "{% url 'efsw.schedule:channel:update_json' %}?id={{ channel.id }}",
                    function(response) {
                        window.location.href = response.data;
                    }
                ));
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>
        {{ channel.name }}<span class="h_sub text-danger">
            Редактирование</span>
    </h2>
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="channel_update_form">
                <div class="form-group" data-bind="css: { 'has-error': errors().name }">
                    <label for="{{ form.name.id_for_label }}">Название</label>
                    <div>
                        {{ form.name }}
                        <span class="help-block" data-bind="visible: errors().name, text: errors().name" style="display: none;"></span>
                    </div>
                </div>
            </form>
            <div class="alert alert-danger" data-bind="visible: error_msg(), text: error_msg()" style="display: none;"></div>
        </div>
        <div class="panel-footer text-center">
            <button type="button" class="btn btn-primary" data-bind="event: { click: submit_form }">Сохранить</button>
        </div>
    </div>
{% endblock %}