{% extends 'schedule/_app_base.html' %}

{% load pagination from pagination %}

{% block title %}{{ block.super }} - Список каналов{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['jquery', 'knockout', 'schedule/model_channel_list'], function($, ko, model) {
            $(document).ready(function() {
                var view_model = new model({
                    'channel_activate_json': function(channel_id) {
                        return "{% url 'efsw.schedule:channel:activate_json' %}?id=" + channel_id;
                    },
                    'channel_deactivate_json': function(channel_id) {
                        return "{% url 'efsw.schedule:channel:deactivate_json' %}?id=" + channel_id;
                    }
                });
                ko.applyBindings(view_model);
                var icon_containers = $('table td.icon_actions_container');
                icon_containers.on('click', '.act_activate', function() {
                    view_model.activate($(this).parents('tr').data('id'));
                });
                icon_containers.on('click', '.act_deactivate', function() {
                    view_model.deactivate($(this).parents('tr').data('id'));
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Список каналов</h2>
    {% if channels %}
        <div class="alert alert-danger" data-bind="visible: error_msg(), text: error_msg()" style="display: none;"></div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Используется</th>
                    <th style="width: 100%">Название</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for channel in channels %}
                    <tr data-id="{{ channel.id }}">
                        <td>{{ channel.id }}</td>
                        <td>
                            {% if not channel.active %}-{% else %}<span class="fa fa-lg fa-check"></span>{% endif %}
                        </td>
                        <td>
                            <a href="{% url 'efsw.schedule:channel:show_lineups' channel.id %}" title="Просмотр сеток вещания на этом канале">{{ channel.name }}</a>
                        </td>
                        <td class="text-nowrap icon_actions_container">
                            {% if perms.schedule.change_channel %}
                                <a href="{% url 'efsw.schedule:channel:edit' channel.id %}" title="Редактирование канала" class="fa fa-lg fa-edit"></a>
                                {% if channel.active %}
                                    <a href="#" title="Прекратить использование" class="fa fa-lg fa-times act_deactivate"></a>
                                {% else %}
                                    <a href="#" title="Начать использование" class="fa fa-lg fa-check-square-o act_activate"></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav class="text-center">{% pagination channels 'efsw.schedule:channel:list_page' %}</nav>
    {% else %}
        <div class="panel panel-warning" style="margin-top: 0.5em;">
            <div class="panel-body text-center">Каналы не найдены</div>
        </div>
    {% endif %}
{% endblock %}