{% extends 'schedule/_app_base.html' %}

{% block title %}{{ block.super }} - {{ lineup.name }} - Редактирование{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['jquery', 'knockout', 'common/modal_loader', 'jquery_ui', 'bootstrap'], function($, ko, ml) {
            $(document).ready(function() {
                var lineup_table = $("#lineup_table");
                lineup_table.disableSelection();
                lineup_table.on('dblclick', "tbody td", function() {
                    var pp_id = $(this).data('pp_id');
                    ml.get_with_model(
                            "{% url 'efsw.schedule:pp:edit_part_modal' %}",
                            'schedule/model_lineup_edit',
                            function(modal_container, already_loaded, model) {
                                model.init({
                                    'pp_edit_json': function(pp_id) {
                                        return '{% url 'efsw.schedule:pp:edit_json' %}?id=' + pp_id;
                                    },
                                    'program_show_json': function(program_id) {
                                        return '{% url 'efsw.schedule:program:show_json' %}?id=' + program_id;
                                    },
                                    'pp_delete_json': function(pp_id) {
                                        return '{% url 'efsw.schedule:pp:delete_json' %}?id=' + pp_id;
                                    },
                                    'lineup_show_part_pp_table_body': "{% url 'efsw.schedule:lineup:show_part_pp_table_body' lineup.id %}",
                                    'pp_update_json': function(pp_id) {
                                        return '{% url 'efsw.schedule:pp:update_json' %}?id=' + pp_id;
                                    }
                                }, modal_container, pp_id);
                                modal_container.modal();
                            }
                    );
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>
        {{ lineup.name }}<span class="h_sub text-danger">
            Редактирование</span>
    </h2>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#" title="Состав">Состав</a></li>
        <li><a href="{% url 'efsw.schedule:lineup:edit_properties' lineup.id %}" title="Свойства">Свойства</a></li>
    </ul>
    {% include 'schedule/_pp_list_table.html' %}
{% endblock %}