{% extends 'schedule/_app_base.html' %}

{% load pagination from pagination %}

{% block title %}{{ block.super }} - Список сеток вещания{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['schedule/lineup_list'], function(module) {
            module({
                urls: {
                    'lineup_copy_part_modal': function() {
                        return '{% url 'efsw.schedule:lineup:copy_part_modal' %}';
                    },
                    'lineup_copy_json': function(lineup_id) {
                        return '{% url 'efsw.schedule:lineup:copy_json' %}?id=' + lineup_id;
                    },
                    'lineup_activate_part_modal': function() {
                        return '{% url 'efsw.schedule:lineup:activate_part_modal' %}';
                    },
                    'lineup_activate_json': function(lineup_id) {
                        return '{% url 'efsw.schedule:lineup:activate_json' %}?id=' + lineup_id;
                    },
                    'lineup_make_draft_part_modal': function() {
                        return '{% url 'efsw.schedule:lineup:make_draft_part_modal' %}';
                    },
                    'lineup_make_draft_json': function(lineup_id) {
                        return '{% url 'efsw.schedule:lineup:make_draft_json' %}?id=' + lineup_id;
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Список сеток вещания</h1>
    {% if lineups %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="width: 3em;">ID</th>
                    <th style="width: 10em;">Канал</th>
                    <th>Название</th>
                    <th style="width: 3em;">Исп.</th>
                    <th style="width: 7em;">Исп. с</th>
                    <th style="width: 7em;">Исп. до</th>
                    <th style="width: 5em;">Начало суток</th>
                    <th style="width: 5em;">Конец суток</th>
                    <th style="width: 10em;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for l in lineups %}
                    <tr data-id="{{ l.id }}">
                        <td>{{ l.id }}</td>
                        <td>{{ l.channel.name }}</td>
                        <td>{{ l.name }}</td>
                        <td>{% if l.draft %}&nbsp;{% else %}<span class="fa fa-lg fa-check"></span>{% endif %}</td>
                        <td>{% if l.active_since %}{{ l.active_since|date:"SHORT_DATE_FORMAT" }}{% else %}-{% endif %}</td>
                        <td>{% if l.active_until %}{{ l.active_until|date:"SHORT_DATE_FORMAT" }}{% else %}-{% endif %}</td>
                        <td>{{ l.start_time|date:"H:i" }}</td>
                        <td>{{ l.end_time|date:"H:i" }}</td>
                        <td class="icon_actions_container">
                            <a href="{{ l.get_absolute_url }}" title="Просмотр сетки вещания" class="fa fa-lg fa-info"></a>
                            {% if perms.schedule.change_lineup %}
                                {% if l.is_editable %}
                                    <a href="{% url 'efsw.schedule:lineup:edit' l.id %}" title="Редактирование сетки вещания" class="fa fa-lg fa-edit"></a>
                                {% endif %}
                                <a href="#" title="Скопировать сетку вещания" class="fa fa-lg fa-copy act_copy"></a>
                                {% if l.draft %}
                                    <a href="#" title="Активировать" class="fa fa-lg fa-check-square-o act_activate"></a>
                                {% endif %}
                                {% if l.is_returnable_to_draft %}
                                    <a href="#" title="Вернуть статус черновика" class="fa fa-lg fa-times act_make_draft"></a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav class="text-center">{% pagination lineups 'efsw.schedule:lineup:list_page' %}</nav>
    {% else %}
        Сетки вещания не найдены
    {% endif %}
{% endblock %}