{% extends 'schedule/_app_base.html' %}

{% load staticfiles %}

{% block title %}{{ block.super }} - Текущая сетка вещания{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['schedule/lineup_show'], function(module) {
            module({
                urls: {
                    pp_show_json: function(pp_id) {
                        return '{% url 'efsw.schedule:pp:show_json' %}?id=' + pp_id;
                    },
                    pp_show_part_modal: function() {
                        return '{% url 'efsw.schedule:pp:show_part_modal' %}';
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Текущая сетка вещания</h1>
    <ul class="nav nav-tabs">
        {% for ch in channels_list %}
            {% if ch.id == channel.id %}
                <li class="active"><a href="#">{{ ch }}</a></li>
            {% else %}
                <li><a href="{% url 'efsw.schedule:lineup:show_current_channel' ch.id %}" title="Текущая сетка вещания для канала">{{ ch }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if lineup %}
        {% include 'schedule/_pp_list_table.html' %}
    {% else %}
        <div class="panel panel-warning" style="margin-top: 0.5em;">
            <div class="panel-body text-center">В настоящий момент не существует ни одной активной сетки вещания</div>
        </div>
    {% endif %}
{% endblock %}