{% extends 'schedule/_app_base.html' %}

{% block title %}{{ block.super }} - Текущая сетка вещания{% endblock %}

{% block content %}
    <h1>Текущая сетка вещания</h1>
    {% if lineup %}
        <table id="lineup_table" class="table table-bordered">
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Воскресенье</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>07:00</th>
                    <td>Новости<br><small>(в прямом эфире)</small></td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>07:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>08:00</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>08:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>09:00</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>09:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>10:00</th>
                    <td>Новости</td>
                    <td style="border: none;">&nbsp;</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>10:30</th>
                    <td>Новости</td>
                    <td style="border: none;">&nbsp;</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
            <tr>
                    <th>07:00</th>
                    <td>Новости<br><small>(в прямом эфире)</small></td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>07:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>08:00</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>08:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>09:00</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>09:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>10:00</th>
                    <td>Новости</td>
                    <td style="border: none;">&nbsp;</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>10:30</th>
                    <td>Новости</td>
                    <td style="border: none;">&nbsp;</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
            <tr>
                    <th>07:00</th>
                    <td>Новости<br><small>(в прямом эфире)</small></td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>07:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>08:00</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>08:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>09:00</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>09:30</th>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>10:00</th>
                    <td>Новости</td>
                    <td style="border: none;">&nbsp;</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
                <tr>
                    <th>10:30</th>
                    <td>Новости</td>
                    <td style="border: none;">&nbsp;</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                    <td>Новости</td>
                </tr>
            </tbody>
        </table>
    {% else %}
        В настоящий момент не существует ни одной активной сетки вещания
    {% endif %}
{% endblock %}

{% block footer_script %}
    {{ block.super }}
{% endblock %}