{% extends 'schedule/_app_base.html' %}

{% load pagination from pagination %}

{% block title %}{{ block.super }} - Список сеток вещания{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['jquery', 'knockout', 'schedule/model_lineup_list'], function($, ko, model) {
            $(document).ready(function() {
                var view_model = new model({
                    'lineup_copy_part_modal': "{% url 'efsw.schedule:lineup:copy_part_modal' %}",
                    'lineup_copy_json': function(lineup_id) {
                        return '{% url 'efsw.schedule:lineup:copy_json' %}?id=' + lineup_id;
                    },
                    'lineup_activate_part_modal': "{% url 'efsw.schedule:lineup:activate_part_modal' %}",
                    'lineup_activate_json': function(lineup_id) {
                        return '{% url 'efsw.schedule:lineup:activate_json' %}?id=' + lineup_id;
                    },
                    'lineup_make_draft_part_modal': "{% url 'efsw.schedule:lineup:make_draft_part_modal' %}",
                    'lineup_make_draft_json': function(lineup_id) {
                        return '{% url 'efsw.schedule:lineup:make_draft_json' %}?id=' + lineup_id;
                    }
                });
                ko.applyBindings(view_model);
                var icon_containers = $('table td.icon_actions_container');
                icon_containers.on('click', '.act_copy', function() {
                    view_model.copy($(this).parents('tr').data('id'));
                });
                icon_containers.on('click', '.act_activate', function() {
                    view_model.activate($(this).parents('tr').data('id'));
                });
                icon_containers.on('click', '.act_make_draft', function() {
                    view_model.make_draft($(this).parents('tr').data('id'));
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>Список сеток вещания</h2>
    {% include 'schedule/_lineup_list_table.html' %}
    {% if lineups %}
        <nav class="text-center">
            {% pagination lineups 'efsw.schedule:lineup:list_page' %}
        </nav>
    {% endif %}
{% endblock %}