{% extends 'schedule/_app_base.html' %}

{% load staticfiles %}

{% block title %}{{ block.super }} - Текущая сетка вещания{% endblock %}

{% if lineup %}
    {% block top_level_content %}
        {{ block.super }}
        <div class="modal fade" id="pp_show_modal" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span class="fa fa-close"></span></button>
                        <h3 class="text-center">
                            <span data-bind="text: pp().dow, visible: pp_loaded() == true"></span>
                            <span data-bind="visible: pp_loaded() == false">Загрузка...</span>
                        </h3>
                    </div>
                    <div class="modal-body">
                        <table class="table" data-bind="visible: pp_loaded() == true">
                            <tbody>
                                <tr>
                                    <th>Время начала</th>
                                    <td data-bind="text: pp().start"></td>
                                </tr>
                                <tr>
                                    <th>Время окончания</th>
                                    <td data-bind="text: pp().end"></td>
                                </tr>
                                <tr>
                                    <th>Программа</th>
                                    <td>
                                        <div data-bind="visible: pp().program_id != 0">
                                            <h4><a title="Описание программы"
                                                   data-bind="text: pp().program_name, attr: { href: pp().program_url }"></a></h4>
                                            <p>Ограничение по возрасту: <span data-bind="text: pp().program_age_limit"></span></p>
                                            <p>Размер в сетке вещания: <span data-bind="text: pp().program_ls"></span></p>
                                        </div>
                                        <div data-bind="visible: pp().program_id == 0">-</div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Комментарий</th>
                                    <td data-bind="text: pp().comment"></td>
                                </tr>
                                <tr>
                                    <th>Заблокировано</th>
                                    <td>
                                        <span data-bind="visible: pp().locked == true">Да</span>
                                        <span data-bind="visible: pp().locked == false">Нет</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    <h1>Текущая сетка вещания</h1>
    <ul class="nav nav-tabs">
        {% for ch in channels_list %}
            {% if ch.id == channel.id %}
                <li class="active"><a href="#">{{ ch }}</a></li>
            {% else %}
                <li><a href="{% url 'efsw.schedule:lineup:show_current_channel' ch.id %}" title="Текущая сетка вещания для канала">{{ ch }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if lineup %}
        {% include 'schedule/_pp_list_table.html' %}
    {% else %}
        <div class="panel panel-warning" style="margin-top: 0.5em;">
            <div class="panel-body text-center">В настоящий момент не существует ни одной активной сетки вещания</div>
        </div>
    {% endif %}
{% endblock %}

{% block footer_script %}
    {{ block.super }}
    <script type="text/javascript">
        var urls = {
            pp_show_json: function(pp_id) {
                return '{% url 'efsw.schedule:pp:show_json' %}?id=' + pp_id;
            }
        };
    </script>
    <script type="text/javascript" src="{% static 'pp_show.js' %}"></script>
{% endblock %}