{% extends 'schedule/_app_base.html' %}

{% load staticfiles %}

{% block title %}{{ block.super }} - Текущая сетка вещания{% endblock %}

{% if lineup %}
    {% block top_level_content %}
        {{ block.super }}
        {% include 'schedule/_pp_list_table_modal.html' %}
    {% endblock %}
{% endif %}

{% block content %}
    <h1>Текущая сетка вещания</h1>
    {% if lineup %}
        {% include 'schedule/_pp_list_table.html' %}
    {% else %}
        В настоящий момент не существует ни одной активной сетки вещания
    {% endif %}
{% endblock %}

{% block footer_script %}
    {{ block.super }}
    <script type="text/javascript">
        var urls = {
            pp_show_json: function(pp_id) {
                return '{% url 'efsw.schedule:pp:show_json' %}?id=' + pp_id;
            },
            program_show_json: function(program_id) {
                return '{% url 'efsw.schedule:program:show_json' %}?id=' + program_id;
            },
            pp_delete_json: function(pp_id) {
                return '{% url 'efsw.schedule:pp:delete_json' %}?id=' + pp_id;
            }
        }
    </script>
    <script type="text/javascript" src="{% static 'lineup_show.js' %}"></script>
{% endblock %}