{% extends 'schedule/_app_base.html' %}

{% load pagination from pagination %}

{% block title %}{{ block.super }} - Список программ{% endblock %}

{% block content %}
    <h2>Список программ</h2>
    {% if programs %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th style="width: 100%">Название</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for program in programs %}
                    <tr>
                        <td>{{ program.id }}</td>
                        <td>
                            <a href="{{ program.get_absolute_url }}" title="Описание программы">{{ program.name }}</a>
                        </td>
                        <td class="text-nowrap">
                             &nbsp;
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav class="text-center">{% pagination programs 'efsw.schedule:program:list_page' %}</nav>
    {% else %}
        <div class="panel panel-warning" style="margin-top: 0.5em;">
            <div class="panel-body text-center">Программы не найдены</div>
        </div>
    {% endif %}
{% endblock %}