{% extends 'schedule/_app_base.html' %}

{% block title %}{{ block.super }} - Описание программы{% endblock %}

{% block content %}
    <h2>{{ program.name }}</h2>
    <table class="table table-striped obj_properties">
        <tbody>
            <tr>
                <th style="min-width: 16em;">ID</th>
                <td style="width: 100%">{{ program.id }}</td>
            </tr>
            <tr>
                <th>Название</th>
                <td>{{ program.name }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ program.description }}</td>
            </tr>
            <tr>
                <th>Ограничение по возрасту</th>
                <td>{{ program.format_age_limit }}</td>
            </tr>
            <tr>
                <th>Размер в сетке вещания</th>
                <td>{{ program.lineup_size|time:"H:i:s" }}</td>
            </tr>
            <tr>
                <th>Макс. хронометраж</th>
                <td>{{ program.max_duration|time:"H:i:s" }}</td>
            </tr>
            <tr>
                <th>Мин. хронометраж</th>
                <td>{{ program.min_duration|time:"H:i:s" }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}