{% extends '_base.html' %}

{% block title %}{{ block.super }} - Архив{% endblock %}

{% block content_wrapper %}
    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                Элементы <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a href="{% url 'efsw.archive:item_list' %}" title="Список элементов">Список</a>
                </li>
                <li role="presentation">
                    <a href="{% url 'efsw.archive:item_add' %}" title="Добавить элемент">Добавить</a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                Категории <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a href="{% url 'efsw.archive:category_list' %}" title="Список категорий">Список</a>
                </li>
                <li role="presentation">
                    <a href="{% url 'efsw.archive:category_add' %}" title="Добавить категорию">Добавить</a>
                </li>
            </ul>
        </li>
        <li role="presentation">
            <a href="{% url 'efsw.archive:search' %}" title="Поиск в архиве">Поиск</a>
        </li>
    </ul>
    {% block content %}{% endblock %}
{% endblock %}

{% block footer_script %}{% endblock %}