{% extends '_base.html' %}

{% block title %}{{ block.super }} - Архив{% endblock %}

{% block app_navigation %}
    <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                Элементы <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a href="{% url 'efsw.archive:item:list' %}" title="Список элементов">Список</a>
                </li>
                {% if perms.archive.add_item %}
                    <li role="presentation">
                        <a href="{% url 'efsw.archive:item:new' %}" title="Добавление нового элемента">Добавить</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                Категории <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation">
                    <a href="{% url 'efsw.archive:category:list' %}" title="Список категорий">Список</a>
                </li>
                {% if perms.archive.add_itemcategory %}
                    <li role="presentation">
                        <a href="{% url 'efsw.archive:category:new' %}" title="Добавление новой категории">Добавить</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <li role="presentation">
            <a href="{% url 'efsw.archive:search' %}" title="Поиск по архиву">Поиск</a>
        </li>
    </ul>
{% endblock %}