<ul class="nav nav-tabs">
    {% if active == 'properties' %}
        <li class="active"><a href="#">Свойства</a></li>
    {% else %}
        <li><a href="{% url 'efsw.archive:item:show_properties' item.id %}">Свойства</a></li>
    {% endif %}
    {% if active == 'locations' %}
        <li class="active"><a href="#">Размещение</a></li>
    {% else %}
        <li><a href="{% url 'efsw.archive:item:show_locations' item.id %}">Размещение</a></li>
    {% endif %}
    {% if active == 'links' %}
        <li class="active"><a href="#">Связи</a></li>
    {% else %}
        <li><a href="{% url 'efsw.archive:item:show_links' item.id %}">Связи</a></li>
    {% endif %}
    {% if active == 'log' %}
        <li class="active"><a href="#">Журнал</a></li>
    {% else %}
        <li><a href="{% url 'efsw.archive:item:show_log' item.id %}">Журнал</a></li>
    {% endif %}
</ul>