<li class="list-group-item">
    {% if perms.archive.change_item %}
        <form action="{% url 'efsw.archive:item_update_remove_link' object.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <input type="hidden" name="removed_id" value="{{ item.id }}">
            <a href="#" title="Удалить связь" class="fa fa-close" id="item-remove-link-{{ object.id }}-{{ item.id }}"></a>
        </form>
    {% endif %}
    <a href="{{ item.get_absolute_url }}"
       title="{{ item.get_absolute_url_title }}">{{ item.name }}</a>
</li>

{# Вырезано из основого файла: #}
{% if object.includes.all or perms.archive.change_item %}
                        <ul class="list-group" id="item-links-container">
                            {% for item in object.includes.all %}
                                {% include 'archive/_item_detail_link.html' %}
                            {% endfor %}
                            {% if perms.archive.change_item %}
                                <li class="list-group-item">
                                    <form action="{% url 'efsw.archive:item_update_add_link' object.id %}" method="post" id="item-add-link-form">
                                        {% csrf_token %}
                                        {{ link_add_form.linked_id.errors }}
                                        <label for="{{ link_add_form.linked_id.id_for_label }}">ID элемента</label>
                                        {{ link_add_form.linked_id }}
                                        <input type="submit" value="Включить">
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        -
                    {% endif %}

{% for location in object.storages_locations.all %}
                {% include 'archive/_item_detail_storage.html' %}
            {% empty %}
                <tr><td colspan="2">Не найдено</td></tr>
            {% endfor %}
            {% if perms.archive.change_item %}
                <form action="{% url 'efsw.archive:item_update_add_storage' object.id %}" method="post" id="item-add-storage-form">
                    <tr>
                        <td>
                            {% csrf_token %}
                            {{ storage_add_form.storage }}
                        </td>
                        <td>
                            {{ storage_add_form.location }}
                            <input type="submit" value="Добавить">
                        </td>
                    </tr>
                </form>
            {% endif %}