{% if items %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th class="text-nowrap">Дата создания</th>
                <th style="min-width: 15em;">Категория</th>
                <th style="width: 100%">Название</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td class="text-nowrap">{{ item.created|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ item.category.name }}</td>
                    <td>{{ item.name }}</td>
                    <td class="text-nowrap">
                        <a href="{{ item.get_absolute_url }}"
                           title="{{ item.get_absolute_url_title }}" class="fa fa-lg fa-eye"></a>
                        {% if perms.archive.change_item %}
                            <a href="{% url 'efsw.archive:item:edit' item.id %}" title="Редактировать элемент"
                               class="fa fa-lg fa-edit"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="panel panel-warning" style="margin-top: 0.5em;">
        <div class="panel-body text-center">Элементы не найдены</div>
    </div>
{% endif %}