{% extends 'archive/_app_base.html' %}

{% load pagination from pagination %}

{% block title %}{{ block.super }} - Список элементов в категории {{ category.name }}{% endblock %}

{% block content %}
    <h2>Список элементов в категории &laquo;{{ category.name }}&raquo;</h2>
    {% include 'archive/_item_list_table.html' %}
    {% if items %}
        <nav class="text-center">
            {% pagination items 'efsw.archive:category:show_items_page' category_id=category.id %}
        </nav>
    {% endif %}
{% endblock %}