{% extends 'archive/app_base.html' %}

{% block title %}{{ block.super }} - Список категорий{% endblock %}

{% block content %}
    <h1>Список категорий</h1>
    <ul class="list-group">
        {% for object in object_list %}
            <li class="list-group-item">
                <span class="badge">{{ object.items.count }}</span>
                <a href="{% url 'efsw.archive:item_list_category' object.id %}"
                   title="Список элементов в этой категории">{{ object.name }}</a>
                <a href="{{ object.get_update_url }}" title="{{ object.get_update_title }}" class="fa fa-edit"></a>
            </li>
        {% empty %}
            Категории не найдены
        {% endfor %}
    </ul>
{% endblock %}