{% extends 'archive/_app_base.html' %}

{% block title %}{{ block.super }} - Редактирование элемента - Свойства{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['archive/item_edit_properties'], function(module) {
            module({
                'urls': {
                    'item_update_properties_json': function() {
                        return "{% url 'efsw.archive:item:update_properties_json' %}?id={{ item.id }}";
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>
        {{ item.name }}<span style="vertical-align: sub; font-size: 50%; color: red;">
        Редактирование</span><a href="{% url 'efsw.archive:item:show_links' item.id %}"
                                title="Просмотр элемента - Размещение" class="fa fa-eye"></a>
    </h1>
    {% include 'archive/_item_edit_nav_tabs.html' with active='links' %}
    <div class="panel panel-default" style="margin-top: 0.5em;">
        <div class="panel-body">
            <div class="alert alert-danger"
                 data-bind="visible: error_msg(), text: error_msg()"
                 style="display: none;"></div>
            <div class="alert alert-success"
                 data-bind="visible: success_msg(), text: success_msg()"
                 style="display: none;"></div>
            <form id="item_links_form">

            </form>
        </div>
        <div class="panel-footer text-center">
            <button type="button"
                    class="btn btn-primary"
                    data-bind="event: { click: update_item }">Сохранить</button>
        </div>
    </div>
{% endblock %}