{% extends 'archive/_app_base.html' %}

{% load field_verbose_name from model %}
{% load staticfiles %}

{% block title %}{{ block.super }} - Детали элемента{% endblock %}

{% block content %}
    <h1>Детали элемента</h1>
    <h2>Свойства {% if perms.archive.change_item %}<small><a href="{{ object.get_update_url }}" title="{{ object.get_update_url_title }}" class="fa fa-edit"></a></small>{% endif %}</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'created' %}</th>
                <td>{{ object.created }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'category' %}</th>
                <td>{{ object.category.name }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'name' %}</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'description' %}</th>
                <td>{{ object.description }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'author' %}</th>
                <td>{{ object.author }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Расположение</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Хранилище</th>
                <th>Размещение</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <h2>Связи</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Входит в</th>
                <td>
                    {% if object.included_in.all %}
                        <ul class="list-group">
                            {% for item in object.included_in.all %}
                                <li class="list-group-item"><a href="{{ item.get_absolute_url }}"
                                       title="{{ item.get_absolute_url_title }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Включает</th>
                <td>
                    <ul class="list-group" id="includes_container" data-url="{% url 'efsw.archive:item_includes_get' object.id %}" data-bind="foreach: includes, visible: includes().length > 0">
                        <li class="list-group-item">
                            {% if perms.archive.change_item %}
                                <a href="#" title="Удалить связь" class="fa fa-close" data-bind="click: $parent.remove_include"></a>
                            {% endif %}
                            <a data-bind="attr: { href: url, title: url_title, 'data-id': id }, text: name"></a>
                        </li>
                    </ul>
                    <span data-bind="visible: includes().length == 0">-<br></span>
                    {% if perms.archive.change_item %}
                        <form id="includes_update_form"
                              data-bind="submit: update_includes"
                              action="{% url 'efsw.archive:item_includes_post' object.id %}">
                            {% csrf_token %}
                            <input type="number" data-bind="value: included_item_id" placeholder="ID элемента">
                            <input type="button" value="Включить" data-bind="click: add_include">
                            <input type="submit" value="Сохранить">
                        </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Журнал изменений</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Дата и время</th>
                <th>Пользователь</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% if log_msgs %}
                {% for log_item in log_msgs %}
                    <tr>
                        <td>{{ log_item.dt }}</td>
                        <td>{% if log_item.user %}{{ log_item.user.username }}{% else %}-{% endif %}</td>
                        <td>{{ log_item.get_action_name }}</td>
                    </tr>
                {% endfor %}
                {% if has_more_log_msgs %}
                    <tr><td colspan="3" class="text-center">
                        <a href="{% url 'efsw.archive:item_log' object.id %}" title="Посмотреть все записи">Посмотреть все записи</a>
                    </td></tr>
                {% endif %}
            {% else %}
                <tr><td colspan="3">Записи не найдены</td></tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'item_detail.js' %}"></script>
{% endblock %}