{% extends 'archive/_app_base.html' %}

{% load staticfiles %}

{% block title %}{{ block.super }} - Добавление нового элемента{% endblock %}

{% block content %}
    <h1>Добавление нового элемента</h1>
    <form action="{% url 'efsw.archive:item:create' %}" method="post">
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Добавить">
    </form>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'item_new.js' %}"></script>
{% endblock %}