{% extends 'archive/_app_base.html' %}

{% block title %}{{ block.super }} - Редактирование элемента - Связи{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['jquery', 'knockout', 'archive/model_item_edit_links'], function($, ko, model) {
            $(document).ready(function() {
                var view_model = new model({
                    'item_update_links_json': function() {
                        return "{% url 'efsw.archive:item:update_links_json' %}?id={{ item.id }}";
                    },
                    'item_check_links_json': function() {
                        return "{% url 'efsw.archive:item:check_links_json' %}?id={{ item.id }}";
                    }
                });
                view_model.init({
                    'includes': [{% for i in item.includes.all %}
                        {
                            'id': {{ i.id }},
                            'name': '{{ i.name|escapejs }}',
                            'url': '{{ i.get_absolute_url|escapejs }}'
                        }
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}],
                    'included_in': [{% for i in item.included_in.all %}
                        {
                            'id': {{ i.id }},
                            'name': '{{ i.name|escapejs }}',
                            'url': '{{ i.get_absolute_url|escapejs }}'
                        }
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}]
                });
                ko.applyBindings(view_model);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h1>
        {{ item.name }}<span style="vertical-align: sub; font-size: 50%; color: red;">
        Редактирование</span><a href="{% url 'efsw.archive:item:show_links' item.id %}"
                                title="Просмотр элемента - Размещение" class="fa fa-eye"></a>
    </h1>
    {% include 'archive/_item_edit_nav_tabs.html' with active='links' %}
    <div class="panel panel-default" style="margin-top: 0.5em;">
        <div class="panel-body">
            <table class="table table-bordered obj_properties" style="margin-top: 0;">
                <tbody>
                    <tr data-bind="visible: included_in().length == 0" style="display: none;">
                        <th style="min-width: 10em;">Входит в</th>
                        <td colspan="2" style="width: 100%;">-</td>
                    </tr>
                    <!-- ko foreach: included_in -->
                        <tr>
                            <!-- ko if: $index() == 0 -->
                                <th style="min-width: 10em;"
                                    data-bind="attr: { rowspan: ($parent.included_in().length > 1 ? $parent.included_in().length : 1) }">Входит в</th>
                            <!-- /ko -->
                            <td style="width: 100%; border-right: none;">
                                <a title="Описание элемента"
                                   data-bind="text: name, attr: { href: url }"></a>
                            </td>
                            <td style="border-left: none;"><a href="#" title="Удалить" class="fa fa-lg fa-trash-o"
                                                              data-bind="click: $parent.remove_included_in"></a></td>
                        </tr>
                    <!-- /ko -->
                    <tr data-bind="visible: includes().length == 0" style="display: none;">
                        <th style="min-width: 10em;">Включает</th>
                        <td colspan="2" style="width: 100%;">-</td>
                    </tr>
                    <!-- ko foreach: includes -->
                        <tr>
                            <!-- ko if: $index() == 0 -->
                                <th style="min-width: 10em;"
                                    data-bind="attr: { rowspan: ($parent.includes().length > 1 ? $parent.includes().length : 1) }">Включает</th>
                            <!-- /ko -->
                            <td style="width: 100%; border-right: none;">
                                <a title="Описание элемента"
                                   data-bind="text: name, attr: { href: url }"></a>
                            </td>
                            <td style="border-left: none;"><a href="#" title="Удалить" class="fa fa-lg fa-trash-o"
                                                              data-bind="click: $parent.remove_includes"></a></td>
                        </tr>
                    <!-- /ko -->
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-2 form-group">
                    <label for="id_type">Тип связи</label>
                    <div>
                        <select id="id_type" class="form-control" data-bind="value: form_type">
                            <option value="1">Входит в</option>
                            <option value="2">Включает</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 form-group" data-bind="css: { 'has-error': errors().item_select_type }">
                    <label for="id_item_select_type">Выбрать по</label>
                    <div>
                        <select id="id_item_select_type" class="form-control"
                                data-bind="value: form_item_select_type">
                            <option value="1">ID</option>
                            <option value="2" disabled>URL</option>
                        </select>
                    </div>
                    <span class="help-block"
                          data-bind="visible: errors().item_select_type, text: errors().item_select_type"
                          style="display: none;"></span>
                </div>
                <div class="col-md-8 form-group" data-bind="css: { 'has-error': errors().item }">
                    <label for="id_item">Элемент</label>
                    <div>
                        <div class="input-group">
                            <input id="id_item" type="text" class="form-control" data-bind="textInput: form_item">
                            <span class="input-group-btn">
                                <button type="button"
                                        class="btn btn-success"
                                        data-bind="event: { click: add_item }, enable: form_item().length > 0">Добавить</button>
                            </span>
                        </div>
                    </div>
                    <span class="help-block"
                          data-bind="visible: errors().item, text: errors().item"
                          style="display: none;"></span>
                </div>
            </div>
            <div class="alert alert-danger"
                 data-bind="visible: error_msg(), text: error_msg()"
                 style="display: none;"></div>
            <div class="alert alert-success"
                 data-bind="visible: success_msg(), text: success_msg()"
                 style="display: none;"></div>
        </div>
        <div class="panel-footer text-center">
            <button type="button"
                    class="btn btn-primary"
                    data-bind="event: { click: update_item }, enable: includes_changed">Сохранить</button>
        </div>
    </div>
{% endblock %}