{% extends 'archive/_app_base.html' %}

{% block title %}{{ block.super }} - Описание элемента - Размещение{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
    require(['jquery'], function($) {
        $(document).ready(function () {
            $('.item_url_container').on('click', '.fa-copy', function() {
                window.getSelection().removeAllRanges();
                var url = $(this).siblings('.url').get(0);
                var range = document.createRange();
                range.selectNode(url);
                window.getSelection().addRange(range);
                try {
                    var result = document.execCommand('copy');
                    if (!result) {
                        alert('Ошибка при копировании в буфер обмена.');
                    }
                } catch(err) {
                    alert('Ошибка при копировании в буфер обмена.');
                }
                window.getSelection().removeAllRanges();
            });
        });
    });
    </script>
{% endblock %}

{% block content %}
    <h2>
        {{ item.name }}
        {% if perms.archive.change_item %}
            <a href="{% url 'efsw.archive:item:edit_locations' item.id %}"
               title="Редактирование элемента - Размещение" class="fa fa-edit"></a>
        {% endif %}
    </h2>
    {% include 'archive/_item_show_nav_tabs.html' with active='locations' %}
    {% if item.file_locations.count %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th style="min-width: 20em;">Хранилище</th>
                    <th style="width: 100%;">Размещение</th>
                </tr>
            </thead>
            <tbody>
                {% for location in item.file_locations.all %}
                    <tr>
                        <td>{{ location.file_object.storage.name }}</td>
                        <td>
                            <ul class="item_url_container">
                                {% for url in location.file_object.get_url %}
                                    {% if url.scheme_is_win_share %}
                                        <li>
                                            <span class="url">{{ url.format_win }}</span>
                                            <a href="#" title="Скопировать ссылку" class="fa fa-copy"></a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <span class="url">{{ url }}</span>
                                            <a href="#" title="Скопировать ссылку" class="fa fa-copy"></a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="panel panel-warning" style="margin-top: 0.5em;">
            <div class="panel-body text-center">Элемент не найден ни в одном хранилище</div>
        </div>
    {% endif %}
{% endblock %}