{% extends 'archive/_app_base.html' %}

{% block title %}{{ block.super }} - Редактирование элемента - Размещение{% endblock %}

{% block head %}
    {{ block.super }}
    <script type="text/javascript">
        require(['jquery', 'knockout', 'archive/model_item_edit_locations'], function($, ko, model) {
            $(document).ready(function() {
                var view_model = new model({
                    'item_update_locations_json': function() {
                        return "{% url 'efsw.archive:item:update_locations_json' %}?id=" + {{ item.id }};
                    }
                });
                view_model.init({

                });
                ko.applyBindings(view_model);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>
        {{ item.name }}<span class="h_sub text-danger">
        Редактирование</span><a href="{% url 'efsw.archive:item:show_locations' item.id %}"
                                title="Просмотр элемента - Размещение" class="fa fa-eye"></a>
    </h2>
    {% include 'archive/_item_edit_nav_tabs.html' with active='locations' %}
    <div class="panel panel-default" style="margin-top: 0.5em;">
        <div class="panel-body">
            <div class="alert alert-danger"
                 data-bind="visible: error_msg(), text: error_msg()"
                 style="display: none;"></div>
        </div>
        <div class="panel-footer text-center">
            <button type="button"
                    class="btn btn-primary"
                    data-bind="event: { click: update_item }, enable: locations_changed">Сохранить</button>
        </div>
    </div>
{% endblock %}