{% extends 'archive/_app_base.html' %}

{% load field_verbose_name from model %}
{% load staticfiles %}

{% block title %}{{ block.super }} - Описание элемента{% endblock %}

{% block content %}
    <h1>Описание элемента</h1>
    <h2>Свойства {% if perms.archive.change_item %}<small><a href="{% url 'efsw.archive:item:edit' item.id %}" title="Редактирование элемента" class="fa fa-edit"></a></small>{% endif %}</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ item.id }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name item 'created' %}</th>
                <td>{{ item.created }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name item 'category' %}</th>
                <td>{{ item.category.name }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name item 'name' %}</th>
                <td>{{ item.name }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name item 'description' %}</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name item 'author' %}</th>
                <td>{{ item.author }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Расположение</h2>
    {% if perms.archive.change_itemlocation %}
        <form id="locations_update_form">
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Хранилище</th>
                <th>Размещение</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody id="locations_container"
               data-bind="foreach: locations, visible: locations().length > 0">
            <tr>
                <td data-bind="text: storage"></td>
                <td data-bind="text: location"></td>
                <td>
                    {% if perms.archive.change_itemlocation %}
                        <a href="#" title="Удалить запись" class="fa fa-lg fa-trash-o" data-bind="click: $parent.remove_location"></a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        </tbody>
        <tbody data-bind="visible: locations().length == 0">
            <tr><td colspan="3">-</td></tr>
        </tbody>
        {% if perms.archive.change_itemlocation %}
            <tfoot>
                    <tr>
                        <td>{{ location_add_form.storage }}</td>
                        <td><span data-bind="text: selected_storage().base_url"></span> {{ location_add_form.location }}</td>
                        <td>
                            <a href="#" title="Добавить запись" class="fa fa-lg fa-plus"
                               data-bind="click: add_location"></a>
                        </td>
                    </tr>
                    <tr><td colspan="3" class="text-center"><input type="button" value="Сохранить" data-bind="click: update_locations"></td></tr>
            </tfoot>
        {% endif %}
    </table>
    {% if perms.archive.change_itemlocation %}</form>{% endif %}
    <h2>Связи</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Входит в</th>
                <td>
                    {% if item.included_in.all %}
                        <ul class="list-group">
                            {% for item in item.included_in.all %}
                                <li class="list-group-item"><a href="{{ item.get_absolute_url }}"
                                       title="{{ item.get_absolute_url_title }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Включает</th>
                <td>
                    <ul class="list-group"
                        id="includes_container"
                        data-bind="foreach: includes, visible: includes().length > 0">
                        <li class="list-group-item">
                            {% if perms.archive.change_item %}
                                <a href="#" title="Удалить связь" class="fa fa-lg fa-trash-o" data-bind="click: $parent.remove_include"></a>
                            {% endif %}
                            <a data-bind="attr: { href: url, 'data-id': id }, text: name" title="Описание элемента"></a>
                        </li>
                    </ul>
                    <span data-bind="visible: includes().length == 0">-<br></span>
                    {% if perms.archive.change_item %}
                        <form id="includes_update_form">
                            <input type="number" data-bind="value: include_item_id" placeholder="ID элемента">
                            <input type="button" value="Включить" data-bind="click: add_include">
                            <input type="button" value="Сохранить" data-bind="click: update_includes">
                        </form>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Журнал изменений</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Дата и время</th>
                <th>Пользователь</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% if log_msgs %}
                {% for log_item in log_msgs %}
                    <tr>
                        <td>{{ log_item.dt }}</td>
                        <td>{% if log_item.user %}{{ log_item.user.username }}{% else %}-{% endif %}</td>
                        <td>{{ log_item.get_action_name }}</td>
                    </tr>
                {% endfor %}
                {% if has_more_log_msgs %}
                    <tr><td colspan="3" class="text-center">
                        <a href="{% url 'efsw.archive:item_log' item.id %}" title="Посмотреть все записи">Посмотреть все записи</a>
                    </td></tr>
                {% endif %}
            {% else %}
                <tr><td colspan="3">Записи не найдены</td></tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
    <script type="text/javascript">
        var urls = {
            item_locations_list_json: function() {
                return '{% url 'efsw.archive:item:locations_list_json' %}?id={{ item.id }}';
            },
            item_locations_update_json: function() {
                return '{% url 'efsw.archive:item:locations_update_json' %}?id={{ item.id }}';
            },
            item_includes_list_json: function() {
                return '{% url 'efsw.archive:item:includes_list_json' %}?id={{ item.id }}';
            },
            item_includes_check_json: function() {
                return '{% url 'efsw.archive:item:includes_check_json' %}?id={{ item.id }}';
            },
            item_includes_update_json: function() {
                return '{% url 'efsw.archive:item:includes_update_json' %}?id={{ item.id }}';
            },
            storage_show_json: function() {
                return '{% url 'efsw.archive:storage:show_json' %}';
            }
        };
    </script>
    <script type="text/javascript" src="{% static 'item_detail.js' %}"></script>
{% endblock %}