{% extends 'archive/_app_base.html' %}

{% load field_verbose_name from model %}
{% load staticfiles %}

{% block title %}{{ block.super }} - Детали элемента{% endblock %}

{% block content %}
    <h1>Детали элемента</h1>
    <h2>Свойства {% if perms.archive.change_item %}<small><a href="{{ object.get_update_url }}" title="{{ object.get_update_url_title }}" class="fa fa-edit"></a></small>{% endif %}</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'created' %}</th>
                <td>{{ object.created }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'category' %}</th>
                <td>{{ object.category.name }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'name' %}</th>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'description' %}</th>
                <td>{{ object.description }}</td>
            </tr>
            <tr>
                <th>{% field_verbose_name object 'author' %}</th>
                <td>{{ object.author }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Расположение {% if perms.archive.change_item %}<small><a href="{{ object.get_update_url }}storage/" title="{{ object.get_update_url_title }}" class="fa fa-edit"></a></small>{% endif %}</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>{% field_verbose_name object 'storage' %}</th>
                <td>{{ object.storage.name }}</td>
            </tr>
            {% if object.storage_is_online %}
                <tr>
                    <th>Путь к элементу</th>
                    <td>{{ object.get_storage_url }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <h2>Связи</h2>
    <table class="table">
        <tbody>
            <tr>
                <th>Входит в</th>
                <td>
                    {% if object.included_in.all %}
                        <ul class="list-group">
                            {% for item in object.included_in.all %}
                                <li class="list-group-item"><a href="{{ item.get_absolute_url }}"
                                       title="{{ item.get_absolute_url_title }}">{{ item.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Включает</th>
                <td>
                    {% if object.includes.all or perms.archive.change_item %}
                        <ul class="list-group" id="item-links-container">
                            {% for item in object.includes.all %}
                                {% include 'archive/_item_detail_link.html' %}
                            {% endfor %}
                            {% if perms.archive.change_item %}
                                <li class="list-group-item">
                                    <form action="{% url 'efsw.archive:item_update_add_link' object.id %}" method="post" id="item-add-link-form">
                                        {% csrf_token %}
                                        {{ link_add_form.linked_id.errors }}
                                        <label for="{{ link_add_form.linked_id.id_for_label }}">ID элемента</label>
                                        {{ link_add_form.linked_id }}
                                        <input type="submit" value="Включить">
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Журнал изменений</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Дата и время</th>
                <th>Пользователь</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% if log_msgs %}
                {% for log_item in log_msgs %}
                    <tr>
                        <td>{{ log_item.dt }}</td>
                        <td>{% if log_item.user %}{{ log_item.user.username }}{% else %}-{% endif %}</td>
                        <td>{{ log_item.get_action_name }}</td>
                    </tr>
                {% endfor %}
                {% if has_more_log_msgs %}
                    <tr><td colspan="3" class="text-center">
                        <a href="{% url 'efsw.archive:item_log' object.id %}" title="Посмотреть все записи">Посмотреть все записи</a>
                    </td></tr>
                {% endif %}
            {% else %}
                <tr><td colspan="3">Записи не найдены</td></tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}

{% block footer_script %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'item_detail.js' %}"></script>
{% endblock %}