{% extends 'archive/_app_base.html' %}

{% load pagination from pagination %}

{% block title %}{{ block.super }} - Поиск в архиве{% endblock %}

{% block content %}
    <h1>Поиск в архиве</h1>
    <form action="" method="get">
        <table class="table">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Искать">
    </form>
    {% if items %}
        {% for item in items %}
            <h2>{{ item.name }}</h2>
            <p>{{ item.description }}</p>
        {% endfor %}
        <nav class="text-center">{% pagination items 'efsw.archive:search_page' %}</nav><!-- TODO: Для этого тэга понадобится ещё один параметр - остаток строки запроса -->
    {% endif %}
{% endblock %}