{% extends 'archive/_app_base.html' %}

{% load pagination from pagination %}
{% load field_verbose_name from model %}

{% block title %}{{ block.super }} - Поиск по архиву{% endblock %}

{% block content %}
    <h1>Поиск по архиву</h1>
    <h2>Запрос</h2>
    <form action="" method="get">
        <table class="table">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Искать">
    </form>
    {% if search_performed %}
        <h2>Результаты поиска</h2>
        {% if items %}
            {% if hits > search_size %}
                <div class="text-center">
                    Слишком много совпадений - показаны только первые {{ search_size }} из {{ hits }}. Попробуйте уточнить
                    условия поиска: например, использовать более конкретный текстовый запрос.
                </div>
            {% endif %}
            {% for item in items %}
                <div class="search-result">
                    <h4><a href="{{ item.get_absolute_url }}" title="{{ item.get_absolute_url_title }}">{{ item.name }}</a></h4>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td colspan="2">{{ item.description }}</td>
                            </tr>
                            <tr>
                                <th>{% field_verbose_name item 'category' %}</th>
                                <td>{{ item.category.name }}</td>
                            </tr>
                            <tr>
                                <th>{% field_verbose_name item 'created' %}</th>
                                <td>{{ item.created }}</td>
                            </tr>
                            <tr>
                                <th>{% field_verbose_name item 'author' %}</th>
                                <td>{{ item.author }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% else %}
            Ничего не найдено
        {% endif %}
    {% endif %}
{% endblock %}