{% extends 'archive/_app_base.html' %}

{% block title %}{{ block.super }} - Поиск не работает{% endblock %}

{% block content %}
    <h1>Поиск не работает</h1>
    <p>В настоящее время поисковая система не может обрабатывать запросы. Это возможно по следующим причинам:</p>
    <ul>
        <li>Поисковая система отключена в настройках проекта</li>
        <li>Сервер поисковой системы отключен или недоступен</li>
        <li>Поисковый кластер не находится в состоянии готовности</li>
    </ul>
{% endblock %}