{% extends 'archive/_app_base.html' %}

{% load pagination from pagination %}

{% block title %}{{ block.super }} - Поиск по архиву{% endblock %}

{% block content %}
    <h2>Поиск по архиву</h2>
    <form action="" method="get">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <label for="{{ form.q.id_for_label }}">Текст запроса</label>
                    {{ form.q }}
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label for="{{ form.c.id_for_label }}">Категория элемента</label>
                        {{ form.c }}
                        <span class="help-block">Удерживайте <code>Ctrl</code> для выбора нескольких вариантов</span>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="{{ form.o.id_for_label }}">Порядок сортировки</label>
                        {{ form.o }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="{{ form.p.id_for_label }}">Период</label>
                        {{ form.p }}
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <button class="btn btn-primary" type="submit">Искать</button>
            </div>
        </div>
    </form>
    {% if search_performed %}
        {% if items %}
            {% if hits > search_size %}
                <div class="panel panel-warning">
                    <div class="panel-body">
                        Слишком много совпадений - показаны только первые {{ search_size }} из {{ hits }}. Попробуйте
                        уточнить условия поиска: например, использовать более конкретный текстовый запрос.
                    </div>
                </div>
            {% endif %}
            {% include 'archive/_item_list_table.html' %}
        {% else %}
            <div class="panel panel-warning" style="margin-top: 0.5em;">
                <div class="panel-body text-center">По данному запросу ничего не найдено</div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}