{% load accountmenu from account %}

<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{% block title %}mmkit{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand fa fa-home fa-2x" href="/">&nbsp;</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'efsw.archive:item_list' %}" title="Главная страница архива">Архив</a></li>
            </ul>
            {% accountmenu %}
        </div>
    </nav>
    <div class="container">
        {% block content_wrapper %}{% endblock %}
    </div>
    <footer class="container text-center">
        Используется <a href="http://fortawesome.github.io/" target="_blank" title="Font Awesome by Dave Gandy">Font Awesome</a>
    </footer>
</body>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/knockout/knockout.js' %}"></script>
{% block footer_script %}{% endblock %}
</html>