{% load accountmenu from account %}

<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{% block title %}mmkit{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'requirejs_conf.js' %}"></script>
    <script src="{% static 'vendor/requirejs/require.min.js' %}"></script>
    <script type="text/javascript">
        require(['base']);
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand fa fa-home fa-2x" href="/" title="Домашняя страница">&nbsp;</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'efsw.archive:item:list' %}" title="Главная страница архива">Архив</a></li>
                <li><a href="{% url 'efsw.schedule:lineup:show_current' %}" title="Планирование вещания - Главная страница">Планирование</a></li>
                <li><a href="{% url 'efsw.conversion:task:list' %}" title="Конвертер - Список заданий">Конвертер</a></li>
            </ul>
            {% accountmenu %}
        </div>
    </nav>
    <div class="container">
        {% block app_navigation %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
    <footer class="container text-center">
        Используется <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank" title="Font Awesome by Dave Gandy">Font Awesome</a>
    </footer>
    <div class="modal fade" id="common_modal" tabindex="-1"></div>
</body>
</html>