a.fa:hover, a.fa:active, a.fa:focus {
    text-decoration: none;
}
div.search-result h4 {
    margin-top: 2em;
}

#lineup_table {
    table-layout: fixed;
}

#lineup_table td, #lineup_table th {
    text-align: center;
    vertical-align: top;
}

#lineup_table thead td {
    width: 6em;
}

#lineup_table tbody td {
    cursor: pointer;
}

#lineup_table tbody td.locked {
    background: #cccccc;
}

#lineup_table tbody td small {
    font-style: italic;
}

#repeat_select_container span {
    margin: 0 1em;
}

.icon_actions_container a {
    margin: 0 0.15em;
}

table.obj_properties {
    margin-top: 0.5em;
}

table.obj_properties th {
    text-align: right;
}

h1 .fa {
    vertical-align: super;
    font-size: 70%;
}