a.fa:hover, a.fa:active, a.fa:focus {
    text-decoration: none;
}
div.search-result h4 {
    margin-top: 2em;
}

#lineup_table {
    table-layout: fixed;
}

#lineup_table td, #lineup_table th {
    text-align: center;
    vertical-align: top;
}

#lineup_table thead td {
    width: 6em;
}

#lineup_table tbody td.locked {
    background: #cccccc;
}

#lineup_table tbody td small {
    font-style: italic;
}